<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".views.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.events.EventInfoActivity"
            android:exported="false" />
        <activity
            android:name=".views.events.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".views.patientBooking.BookingInfoActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".views.patientBooking.TestActivity"
            android:exported="false" />
        <activity
            android:name=".views.patientDashboard.DoctorInfoActivity"
            android:exported="false" />
        <activity
            android:name=".views.patientDashboard.PatientDashboard"
            android:exported="false" />
        <activity
            android:name=".views.doctorProfile.DoctorProfile"
            android:exported="false" />
        <activity
            android:name=".views.doctorProfile.EditDoctorProfile"
            android:exported="false" />
        <activity
            android:name=".views.patientProfile.PatientProfile"
            android:exported="false" />
        <activity
            android:name=".views.patientProfile.EditPatientProfile"
            android:exported="false" />
        <activity
            android:name=".views.patientDashboard.PatientToDo"
            android:exported="false" />
        <activity
            android:name=".views.signUp.SignupActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.signUp.SignupDoctorActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.patientDashboard.PatientInsights"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>